:root {
  --width-desktop: 144rem;
  --width-mobile: 37.5rem;
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(212, 45%, 89%);
  --color-grey-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
  --default-font-size: 1.5rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box; }

.container {
  width: var(--width-desktop);
  background-color: var(--color-light-grey);
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 15.2rem 56rem; }
  @media only screen and (max-width: 660px) {
    .container {
      padding: 5.8rem 8.5rem; } }
  @media only screen and (max-width: 375px) {
    .container {
      width: var(--width-mobile);
      padding: 2.8rem 8.5rem; } }

.card {
  width: 32rem;
  height: 49.7rem;
  background-color: var(--color-white);
  border-radius: 2rem;
  padding: 1.5rem; }
  .card__img {
    border-radius: 2rem; }
  .card__img-photo {
    border-radius: 2rem;
    height: 28.8rem;
    width: 28.8rem; }
  .card__desc-title {
    font-weight: 700;
    text-align: center;
    padding: 1.6rem; }
  .card__desc-detail {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 1.6rem;
    color: var(--color-grey-blue); }
